{
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "proseWrap": "preserve",
  "arrowParens": "always",
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "endOfLine": "auto"
}
